body{
    background-color: rgb(202, 202, 202);
    align-items: center;
}
.content{
    width: 600px;
    height: 400px;
    background-color: white; 
    margin-left: 300px; 
}
.hero{
    padding: 20px;
}
.card{
    display: flex;
   margin-top: 10%;
}

.div1{
    
    width: 300px;
    height: 250px;
    background-color: rgb(64, 161, 153);
    align-items: center;
 
    
}
button{
    margin-left: 50px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: rgb(196, 247, 15);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.div2{
    width: 300px;
    height: 250px;
    background-color: rgb(91, 194, 171);
     align-items: center;
}
p ,h1 ,h3 ,h4{
    margin-left: 40px;

    color: white;  

}
p{
    height: 10px;
}